<!--<h2>Login</h2>-->
<form [formGroup]="loginForm" (submit)="onSubmit()">
  <div class="input-fields">
     <span class="ui-float-label">
        <input id="float-input-user" type="text" pInputText formControlName="username">
        <label for="float-input-user">Username</label>
    </span>
  </div>
  <div class="input-fields">
      <span class="ui-float-label">
        <input id="float-input-pass" pPassword [feedback]=false formControlName="password" type="password"/>
        <label for="float-input-pass">Password</label>
      </span>
  </div>
  <div class="group-buttons">
    <button [disabled]="submitted || loginForm.invalid" pButton type="submit" label="Login"></button>
    <a routerLink="/register" class="btn btn-link">Register</a>
  </div>
</form>
