:host{

  color: rgb(204, 40, 92);
  display: flow-root;
}
h1{
  padding-left: 10px;
}

.container{
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 10px;
}

.card-header{
  align-items: center;
}

.loading{
  position:absolute;top:35%;left:35%;
}
