:host{
  /*background-color: #919191;*/
  color: crimson;
  display: flow-root;
}
.container{
  /*background-color: white;*/
  color: black;
  display: flex;
  flex-grow: 1;
  align-items: center;
  /*margin: 20px 20px 30px;*/
  padding: 10px;
}

.card-header{
  align-items: center;
}

.loading{
  position:absolute;top:35%;left:35%;
}
